<h1>Create new book</h1>
<form action="/create" method="POST">
    <label>
        Book name
    </label>
    <input type="text" name="bookName">
    <label>
        Book description
    </label>
    <textarea cols="20" rows="4" name="bookDescription"></textarea>

    <button type="submit">CREATE</button>
</form>